<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.0.2" targetFramework="net461" />
  <package id="Accord.Math" version="3.0.2" targetFramework="net461" />
  <package id="devDept.Eyeshot" version="10.0.836" targetFramework="net461" />
  <package id="DiffLib" version="2015.7.24.1614" targetFramework="net461" />
  <package id="ExceptionReporter" version="2.1.2" targetFramework="net461" />
  <package id="FAKE" version="4.29.2" targetFramework="net461" />
  <package id="Fody" version="1.29.4" targetFramework="net461" developmentDependency="true" />
  <package id="Ix-Main" version="1.2.5" targetFramework="net461" />
  <package id="LanguageExt.Core" version="1.7.38" targetFramework="net461" />
  <package id="LanguageExt.Parsec" version="1.7.38" targetFramework="net461" />
  <package id="MathNet.Numerics" version="3.11.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="OpenTK" version="1.1.2225.0" targetFramework="net461" />
  <package id="OpenTK.GLControl" version="1.1.2225.0" targetFramework="net461" />
  <package id="ReactiveCompositeCollections" version="1.0.3" targetFramework="net461" />
  <package id="reactiveui" version="7.2.0" targetFramework="net461" />
  <package id="ReactiveUI.Fody" version="2.0.65" targetFramework="net461" />
  <package id="reactiveui-core" version="7.2.0" targetFramework="net461" />
  <package id="reactiveui-events" version="7.2.0" targetFramework="net461" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net461" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net461" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net461" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net461" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net461" />
  <package id="Rx-XAML" version="2.2.5" targetFramework="net461" />
  <package id="Splat" version="1.6.2" targetFramework="net461" />
  <package id="System.Collections" version="4.0.0" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="1.1.37" targetFramework="net461" />
  <package id="System.Diagnostics.Debug" version="4.0.0" targetFramework="net461" />
  <package id="System.DoubleNumerics" version="3.1.2" targetFramework="net461" />
  <package id="System.Globalization" version="4.0.10" targetFramework="net461" />
  <package id="System.Linq" version="4.0.0" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.1.1-beta-23516" targetFramework="net461" />
  <package id="System.Resources.ResourceManager" version="4.0.0" targetFramework="net461" />
  <package id="System.Runtime" version="4.0.20" targetFramework="net461" />
  <package id="System.Runtime.Extensions" version="4.0.10" targetFramework="net461" />
  <package id="System.Threading" version="4.0.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.3.0" targetFramework="net461" />
  <package id="Weingartner.Exceptional" version="1.4.6075.17448" targetFramework="net461" />
  <package id="Weingartner.Json.Migration" version="1.0.5" targetFramework="net461" />
  <package id="Weingartner.Json.Migration.Analyzer" version="1.0.5" targetFramework="net461" />
</packages>